.object-cover{
  object-fit: cover;
}

.full-height{
  min-height: calc(100vh - 56px - 76px);
}

// .custom-link {
//   text-decoration: none; /* 去除底線 */
//   color: inherit; /* 使用繼承的颜色 */
// }

.mySwiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.mySwiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #ffffff;
}