.object-cover{
  object-fit: cover;
}

.full-height{
  min-height: calc(100vh - 56px - 76px);
}

.admin-modal-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.text-colot-gradient{
  background-image: linear-gradient(120deg, #712cf9, #ff99cc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

// .custom-link {
//   text-decoration: none; /* 去除底線 */
//   color: inherit; /* 使用繼承的颜色 */
// }

.mySwiper .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 80px;
}

// 用 class 繼承
.mySwiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}

.mySwiper .swiper-pagination-bullet-active {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border: #ffffff solid 1px;
}

.z-2000{
  z-index: 2000;
}

.logo{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.bg-img{
  background-image: url("https://images.unsplash.com/photo-1521805103424-d8f8430e8933?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

// Logo 漸層動畫
@keyframes textGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// navbar 漸變
.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* 這裡的 0.8 是半透明度，可以根據需要調整 */
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// hover 漸變過去後變色
.hover-gradient {
  background-image: linear-gradient(120deg,  #712cf9 ,#ff99cc 100%);
  background-size: 200% 200%;
  color: white;
  transition: background 0.5s ease-in-out;
}

.hover-gradient:hover {
  background-position: right center;
  color: white;
}

// footer hover 漸變過去後變色
.footer-hover-gradient {
  background-size: 200% 200%;
  color: white;
  transition: background 0.5s ease-in-out;
}

.footer-hover-gradient:hover {
  background-position: right center;
  background-image: linear-gradient(120deg,  #712cf9 ,#ff99cc 100%);
  color: white;
}

// footer hover 漸變過去後文字變漸變色
.footer-hover-gradient-text:hover {
  /* 初始文字顏色設置為白色 */
  color: white;
  transition: color 0.5s ease-in-out; /* 只有文字顏色會過渡 */

  /* 設置漸變背景 */
  background-image: linear-gradient(120deg, #712cf9, #ff99cc 100%);
  background-size: 200% 200%;
  background-clip: text; /* 背景裁剪為文字形狀 */
  -webkit-background-clip: text; /* Safari 支持 */
  -webkit-text-fill-color: transparent; /* 保持文字顏色透明以顯示漸變 */
}

.footer-hover-gradient-text {
  background-position: right center; /* 改變背景位置 */
  color: transparent; /* 改變文字顏色為透明 */
  -webkit-text-fill-color: white; /* 使漸變背景在文字上顯示 */
}

.bg-modal-gradient {
  background-image: linear-gradient(120deg, #712cf9, #ff99cc 100%);
}

.banner-link-hover i {
  display: inline-block; /* Ensures the element can move */
  transition: transform 0.3s ease; /* Smooth transition for the movement */
}

.banner-link-hover i:hover {
  transform: translateX(10px); /* Move 10 pixels to the right on hover */
  background-image: linear-gradient(120deg, #712cf9, #ff99cc 100%);
}

.home-card{
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.home-card:hover {
  filter: grayscale(0%);
}


.subtitle-border {
  border-bottom: 1px solid #712cf9;
}

.subtitle-border{
  background: linear-gradient(120deg, #712cf9 -6.41%, #ff99cc 107.79%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

// footer swiper
/* 自定義導航按鈕樣式 */
.home-swiper .swiper-button-next, .home-swiper .swiper-button-prev {
  background-color: white; /* 白色背景 */
  width: 40px; /* 圓形寬度 */
  height: 40px; /* 圓形高度 */
  border-radius: 50%; /* 變為圓形 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 添加陰影 */
  top: 40%;
}

.home-swiper .swiper-button-next::after, .home-swiper .swiper-button-prev::after {
  font-size: 14px; /* 箭頭大小 */
  color: black; /* 箭頭顏色 */
}

/* 自定義導航按鈕在 hover 時的樣式 */
.home-swiper .swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #f0f0f0; /* 懸停時變色 */
}

/* 自定義導航按鈕的位置 */
.home-swiper .swiper-button-next {
  right: 10px; /* 調整右邊按鈕的位置 */
}

.home-swiper .swiper-button-prev {
  left: 10px; /* 調整左邊按鈕的位置 */
}

/* 避免導航按鈕擋住幻燈片內容 */
.home-swiper .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0.3; /* 禁用時降低透明度 */
  pointer-events: none; /* 禁用鼠標事件 */
}

// card hover 漸變過去後變色
.card-hover-gradient {
  background-size: 200% 200%;
  transition: background 0.5s ease-in-out;
}

.card-hover-gradient:hover {
  background-position: right center;
  background-image: linear-gradient(120deg,  #712cf9 ,#ff99cc 100%);
  color: white;
}

.carousel-item-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.about-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.navbar-nav .nav-item{
  margin-right: 20px;
}


.router-link-active {
  border-bottom: 2px solid; /* 底部邊框的厚度 */
  border-image: linear-gradient(to right, #712cf9, #ff99cc) 1; /* 邊框漸層 */
  background: linear-gradient(to right, #712cf9, #ff99cc); /* 背景漸層 */
  -webkit-background-clip: text; /* 剪裁背景到文字 */
  -webkit-text-fill-color: transparent; /* 文字填充透明 */
  color: transparent; /* 設置文字顏色透明 */
  font-weight: bold; /* 加粗字體 */
}

// 手機版 router-link-active 漸層消失
@media (max-width: 768px) {
  .router-link-active {
    border-bottom: none;
  }
}

.shopBtn {
  position: absolute;
  border: 0;
  top: 375px;
  right: 10px;
  z-index: 1200;
}

.product-link img {
  transition: filter 0.3s ease; /* 過度效果 */
}

.product-link img:hover {
  filter: brightness(70%); /* 亮度70% */
}

.overlay {
  position: absolute;
  // 正中央
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  color: white; /* 文字顏色 */
  font-size: 1.5rem; /* 根據需要調整大小 */
  font-weight: bold;
}

.card:hover .overlay {
  opacity: 1;
}

.product-detail-hover {
  display: inline-block; /* Ensures the element can move */
  transition: transform 0.3s ease; /* Smooth transition for the movement */
}

.product-detail-hover:hover {
  background-image: linear-gradient(120deg, #712cf9, #ff99cc 100%);
}


.cart-bg-hover:hover{
  // 顏色透明度為 0.8
  background-image: linear-gradient(120deg, #dddddd, #dddddd 100%);
}