.object-cover{
  object-fit: cover;
}

.full-height{
  min-height: calc(100vh - 56px - 76px);
}

.admin-modal-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

// .custom-link {
//   text-decoration: none; /* 去除底線 */
//   color: inherit; /* 使用繼承的颜色 */
// }


// 用 class 繼承
.mySwiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}

.mySwiper .swiper-pagination-bullet-active {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border: #ffffff solid 1px;
}

.z-2000{
  z-index: 2000;
}

.logo{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.bg-img{
  background-image: url("https://images.unsplash.com/photo-1521805103424-d8f8430e8933?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

// Logo 漸層動畫
@keyframes textGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// navbar 漸變
.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* 這裡的 0.8 是半透明度，可以根據需要調整 */
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// hover 漸變過去後變色
.hover-gradient {
  background-image: linear-gradient(120deg,  #712cf9 ,#ff99cc 100%);
  background-size: 200% 200%;
  color: white;
  transition: background 0.5s ease-in-out;
}

.hover-gradient:hover {
  background-position: right center;
  color: white;
}




